page-about {

}

.abody{
  background-color: #F5FBEF;
}
.abody2{
  background-color: #F5FBEF;
}
.abody3{
  // margin-top: -20px;
  background-color: #F5FBEF;
}
.abody4{
  // margin-top: -20px;
  background-color: #F5FBEF;
}
.abody5{
  // margin-top: -20px;
  background-color: #F5FBEF;
  margin-bottom: -10px;
}
.outer{
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px;
  box-shadow: 1px 1px 10px 1px;
  padding-bottom: 5px;
  background-color: white;
  opacity: 0.8;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.aheader{
  text-align: center;
}