<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>597509118435-8eh2023bktb33hf6b5e27gqc0fl75fh3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597509118435-8eh2023bktb33hf6b5e27gqc0fl75fh3</string>
	<key>API_KEY</key>
	<string>AIzaSyA5wM9bkDCVYALV85zZX9qVH3RLtqlTyYw</string>
	<key>GCM_SENDER_ID</key>
	<string>597509118435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uwi.dcit.greenmarket</string>
	<key>PROJECT_ID</key>
	<string>green-market-43cfe</string>
	<key>STORAGE_BUCKET</key>
	<string>green-market-43cfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597509118435:ios:34ec2a7867a20bf1</string>
	<key>DATABASE_URL</key>
	<string>https://green-market-43cfe.firebaseio.com</string>
</dict>
</plist>